<template name="myNav">
  <h2 class="text-center bg-primary">{{className}}</h2>
  <ul class="nav nav-tabs nav-justified">
    <li id="Students" role="presentation" class="{{n "Students"}}"><a href="studentsPage">Students</a></li>
    <li id="Behaviours" role="presentation" class="{{n "Behaviours"}}"><a href="">Behaviours</a></li>
    <li id="Events" role="presentation" class="{{n "Events"}}"><a href="randomEventsPage">Events</a></li>
    <li id="Statictics" role="presentation" class="{{n "Statictics"}}"><a href="">Statistics</a></li>
  </ul>
</template>  